.show-tooltip {
    content: attr(data-tooltip);
    position: absolute;
    width: 250px;
    background-color: white;
    border: 2px solid black;
    z-index: 100;
    top: 100%;
    right: -10%;
    padding: 10px;

}


[data-tooltip] {
  position: relative;
  width: 20px;
  aspect-ratio: 1/1;

  display: inline-flex;
  flex-direction: row;
  align-items: center;
  font-size: 10pt;
  font-weight: normal;
  margin-inline-start: 10px;
  &::before {
    content: "?";
    text-align: center;
    border: 1px solid black;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 30%;
    left: 0%;
    border-radius: 100%;
    line-height: 1.3;
  }
  &:hover::after, &>span {
    @extend .show-tooltip   
  }

}



