main {
  height: calc(100vh - 40px);
  $height: calc(100vh - 40px - 250px);

  .editor {
    overflow-y: auto;
    min-height: 100%;
    width: 75%;
    border-right: 1px solid black;
    .ql-toolbar,
    .ql-container {
      border-color: black;
    }
    small {
      span {
        color: red;
      }
    }
    &__wrap {
      padding-right: 20px;
      :has(.ql-toolbar) {
        height: $height;
        border-color: black;
        font-family: var(--roboto_mono-font);

        padding-inline: 10px 20px;
        padding-block: 10px;
        * {
          white-space: pre-wrap;
          tab-size: 5;
        }
        .ql-highlight {
          background-color: yellow;
        }
      }
    }
    &__options {
      width: 25%;
      .textarea__wrap {
        margin-block-end: 20px;

        textarea {
          width: 100%;
          font-size: inherit;
          padding: 5px;
          background-color: white;
        }
      }
      button {
        width: 100%;
        padding-block: 10px;
        background-color: white;
      }
      .textarea__wrap,
      button {
        position: relative;
        border: 2px solid black;
        &::before {
          content: "";
          width: 100%;
          height: 100%;
          left: 5px;
          top: 5px;
          position: absolute;
          background-color: black;
          z-index: -1;
        }
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  main {
    flex-direction: column;
    .editor {
      width: 100%;
      border-right: unset;
    }
    .editor__options {
      width: 100%;
    }
    .editor__wrap {
      padding: 0;
    }
  }
}
