:root {
  --primary: #000000;
  --bg: #ffffff;
}

html[data-theme="light"] {
  --primary: #000000;
  --bg: #ffffff;
  --adv: greenyellow;
  --dialogue: yellow;
  --sdt: cyan;
}

html[data-theme="dark"] {
  --primary: #ffffff;
  --bg: #000000;
  --adv: green;
  --dialogue: rgb(255, 60, 0);
  --sdt: blue;
}
