.blog {
  padding-block: 20px 100px;
  padding-inline: 30%;
  @media screen and (max-width: 1080px) {
    padding-inline: 15%;
  }
  min-height: 90vh;
  font-size: 12pt;
  line-height: 2;
  font-family: var(--roboto-font);
  :not(:has(article)) {
    h2 {
      font-size: 18pt;
    }
  }
  h2 {
    padding-block: 20px 10px;
  }

  .flex {
    flex-wrap: wrap;
    margin-top: 20px;
    .card {
      position: relative;
      background-color: white;
      width: 100%;
      border: 2px solid black;
      padding: 15px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      a {
        position: relative;
        background-color: white;
        border: 2px solid black;
        display: block;
        width: fit-content;
        span {
          z-index: 2;
          position: relative;
          display: block;
          background-color: white;
          padding: 2px 10px;
        }
        .decoration {
          width: 100%;
          height: 100%;
          left: 3px;
          top: 3px;
          position: absolute;
          background-color: black;
          z-index: 0;
        }
      }
      &::before {
        content: "";
        width: 100%;
        height: 100%;
        left: 5px;
        top: 5px;
        position: absolute;
        background-color: black;
        z-index: -1;
      }
    }
  }

  .blog-post {
    h3 {
      margin-block: 20px 10px;
    }
  }
  .categories {
    display: inline-block;
    margin-bottom: 20px;
    font-size: smaller;
    .tag {
      color: darkslategray;
    }
  }
  blockquote {
    border-left: 2px solid black;
    padding-left: 20px;
    margin-block: 20px;
    color: rgb(0, 0, 0, 0.7);
  }
}
